{% extends 'base.html' %}

{% block content%}

<center><h1>About Me:</h1></center><br/>
<div class="container">
		<center>
			<div class="card" style="width: 18rem;">
		  <div class="card-body">
		    <h4 class="card-title">Mathieu Losserand</h4>
		    <p class="card-text">For more informations, please contact me by mail :</p>
		    <a href="mailto:mathieu.losserand@gamil.com" class="card-link">Email</a>
		    <br/>
		    <a href="https://mathloss.github.io/site_perso_3/" target="_blank" class="card-link">Personnal site</a>
		  </div>
		</div>
		<br/><br/><br/><br/><br/><br/>
		<p class="fw-lighter">Copyright &copy Mathieu Losserand 2021 .</p>
	</center>
	</div>

{% endblock %}